{% extends 'layout.html.twig' %}

{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs d-flex">
                    <a href="/">Accueil</a>
                    <p class="arrow d-inline-block"><img src="/assets/images/arrow.png">
                        <span>Connexion</span>
                    </p>
                </div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-4 d-flex flex-column justify-content-center">
                            <h2>Connexion</h2>

                            <form class="contact-form" method="post" accept-charset="UTF-8">

                                <!-- Email input -->
                                <div class="input-group mb-3 flex-nowrap">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-regular fa-envelope" style="color: #9198AF;"></i>
                                    </span>
                                    <input type="email" id="email" name="email" class="form-control mb-0"
                                           placeholder="email..." aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                {% if error.email is not empty %}
                                    <p style="color: red">{{ error['email'] }}</p>
                                {% endif %}

                                <div class="input-group mb-3 flex-nowrap">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-solid fa-lock" style="color: #9198AF;"></i>
                                    </span>
                                    <input type="password" id="password" name="password" class="form-control mb-0"
                                           placeholder="Mot de passe" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                {% if error.password is not empty %}
                                    <p style="color: red">{{ error['password'] }}</p>
                                {% endif %}

                                {% if error.connexion is not empty %}
                                    <p style="color: red">{{ error['connexion'] }}</p>
                                {% endif %}

                                <button type="submit" class="btn btn-outline-warning d-grid gap-2 col-6 mx-auto">Se connecter</button>
                            </form>
                            <h3>Pas encore inscrit ! <a class="DG-color-yellow" href="/user/register"> inscrivez vous !</a></h3>

                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <img src="/assets/images/movie-theater.jpg" class="rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .container -->
    </main>
{% endblock %}
