/* button validate */
.btn-outline-warning {
    border-radius: 3px;
    border-color: #FFAA3C;
    color: #FFAA3C;
}
.clSeanceInput span.input-group-text {
    background-color: #FFAA3C;
    color: white;
}

span.btn-plus-norm:hover, span.btn-minus-norm:hover {
    cursor: pointer;
}
