<footer class="site-footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <div class="widget">
                    <a href="/about">
                        <h3 class="widget-title">A propos</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget">
                    <a href="#">
                        <h3 class="widget-title">Politique de confidentialité</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget">
                    <a href="#">
                        <h3 class="widget-title">CGU</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget">
                    <a href="#">
                        <h3 class="widget-title">Mentions légales</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget">
                    <h3 class="widget-title">Nous contacter</h3>
                    <ul class="no-bullet">
                        <li class="lh-base"><a href="#">contact@cinetech.fr</a></li>
                        <li class="lh-base"><a href="#">05.56.85.95.85</a></li>
                        <li class="lh-lg">
                            <a href="#">
                                <i class="fa-brands fa-square-twitter fa-xl"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-square-facebook fa-xl"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="colophon">Copyright 2023 Cinetech, Designed by David, Anthony, Jérome, Florian, Cécile. Tous droits
            réservés
        </div>
    </div>

</footer>





