<header class="site-header">
    <nav class="container">
        <div class="navbar navbar-expand-lg bg-body-tertiarysite-header d-flex">
            <div class="container-fluid justify-content-end">
                <div class="flex-grow-1">
                    <a href="/" id="branding">
                        <img src="/assets/images/logo.png" alt="" class="logo">
                        <div class="logo-copy">
                            <h1 class="site-title">CINETECH</h1>
                            <small class="site-description">Des films, des billets, un click !</small>
                        </div>
                    </a>
                </div><!-- #branding -->

                <div class="main-navigation d-flex">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation" style="height: 40px;">
{#                        <span class="navbar-toggler-icon"></span> Je ne vois pas l'utilité de cette span
sauf peut-être pour la recherche#}
                    </button>
{#                    fixer le hover sur le bouton du menu en fonction de la page en cours#}
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="menu-item current-menu-item" id="/"><a href="/">Accueil</a></li>
                            <li class="menu-item" id="/about"><a href="/about">A propos</a></li>
                            {% if user.role == 'user' %}
                                <li class="menu-item" id="/user/profil"><a href="/user/profil?id={{ userData }}">Mon compte</a></li>
                                <li class="menu-item disconnectBt"><a id="disconnectBt" href="/user/logout">Déconnexion</a></li>
                            {% elseif user.role == 'admin' %}
                                <li class="menu-item" id="/user/profil"><a href="/user/profil?id={{ userData }}">Mon compte</a></li>
                                <li class="menu-item" id="/admin"><a href="/admin">Administration</a></li>
                                <li class="menu-item" id="/admin/addmovie"><a href="/movie/availablemovies">Ajout film</a></li>
                                <li class="menu-item "><a id="disconnectBt" href="/user/logout">Déconnexion</a></li>
                            {% else %}
                                <li class="menu-item" id="/user/register"><a href="/user/register">Inscription</a></li>
                                <li class="menu-item" id="/user/login"><a href="/user/login">Connexion</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">

            {% if userData != null %}
                <p class="d-flex justify-content-end greenhaze me-3 mb-0 dg-mt">
                    Bienvenue {{ user.firstname }} {{ user.lastname }}</p>
            {% endif %}

        </div>
    </nav>
</header>
<script>

    // Récupérez l'URL de la page actuelle
    var currentURL = window.location.pathname;
    console.log(currentURL);

    // Parcourez tous les éléments de menu et recherchez celui correspondant à la page actuelle
    var liItems = document.querySelectorAll("li.menu-item");
    console.log(liItems);

    liItems.forEach(function (liItem) {
        let link = liItem.getAttribute("id");
    console.log(link);

        // je récupère attribut href de mon a
        if (link === currentURL) {
            liItem.classList.add("current-menu-item");
        } else {
            liItem.classList.remove("current-menu-item");
        }
    });
</script>
